body{
    background-color: #f4f6f6;
}

.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

.reloadButton{
  height: 30px;
  font-size: 14px;
  cursor: pointer;
  width: 120px;
  margin-top: 10px;
  background: #E3963E;
  color: white;
  border-radius: 20px;
  border: none;
  transition-duration: 0.5s;
}

.logo{
  cursor: pointer;
}

.reloadButton:hover{
  transform: scale(0.90);
}

h1{
    padding-top: 30px;
    text-align: center;
}

.table-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  max-height: 700px;
  width: 70%;
  margin-top: 50px;
  overflow-y: auto;
  cursor: move;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #E3963E;
  color: white;
  padding: 12px;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: left;
}

td {
  padding: 12px;
  background: white;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ffe5c4;
}
